extends layout

block content
  h1= title
  p Rows: #{query.rows}
  p Columns: #{query.cols}
  - var rows = Number(query.rows)
  - var col = Number(query.cols)
  if (Number.isInteger(rows) && Number.isInteger(col))
    p Placeholder Text
  else if (rows != isInteger && col != isInteger)
    p Errors encountered
