extends layout

block content
  h1= title
  p Welcome to Assignment #10

div (id="button" onClick="method()") Content

- var btnType = 'Info'
- var btnSize = 'lg'

button (type='button' class='btn btn-' + btnType + ' btn-' + btnSize) Push Me